.nav-container {
    height: 15vh;
    padding: 10px 60px;

}
.nav-list {
    display: flex;
    /* display: none; */
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}
.nav-route {
    margin: 25px;
    display: flex;
    flex-direction: column;
}
.nav-item {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: .6px;
}
.nav-item:active , .nav-item:focus {
    outline: none;
    border: none;    
}
.nav-border {
    width: 0;
    height: 2px;
    border-radius: 30px;
    transition: all .2s;
}
.nav-item:hover {
    cursor: pointer;
}
.nav-item:hover ~ .nav-border {
    width: 100%;
    transition: all .2s;
}
button.router-link-exact-active ~ .nav-border {
    width: 100%;
}
.nb-1 {
    background: #642B73;
    background: -webkit-linear-gradient(to left, #C6426E, #642B73);
    background: linear-gradient(to left, #C6426E, #642B73);
}
.nb-2 {
    background: #642B73;
    background: -webkit-linear-gradient(to left, #C6426E, #642B73);
    background: linear-gradient(to left, #C6426E, #642B73);
}
.nb-3 {
    background: #642B73;
    background: -webkit-linear-gradient(to left, #C6426E, #642B73);
    background: linear-gradient(to left, #C6426E, #642B73);
}
.nb-4 {
    background: #642B73;
    background: -webkit-linear-gradient(to left, #C6426E, #642B73);
    background: linear-gradient(to left, #C6426E, #642B73);
}
.res-nav-list {
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    color: #642B73;
}
.res-nav-icon {
    z-index: 11;
    display: none;
}
.res-nav-icon i {
    cursor: pointer;
}
.res-nav-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 10;
    background: #59C173;
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rl-w {
    height: 3px !important;
}
.ext-r-n {
    position: absolute;
    right: 50px;
    top: 50px;
}
.downUp-enter-active {
    animation-name: downUp;
    animation-duration: 1s;
}
.downUp-leave-active {
    animation-name: upDown;
    animation-duration: 1s;
}
@keyframes downUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes upDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        transform: translateY(40px);
        opacity: 0;
    }
}
@media only screen and (max-width: 700px) {
    .res-nav-icon {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .res-nav-list {
        display: flex;
    }
}