.additional {
    flex-basis: 40%;
    height: 100%;
    z-index: 1;
    /* background-color: aquamarine; */
}
.cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
        "c1 c2"
        "c3 c3"
    ;
}
.c1 {
    grid-area: c1;
}
.c2 {
    grid-area: c2;
}
.c3 {
    grid-area: c3;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 0px 18px -4px rgba(0,0,0,0.75);
    background-color: rgba(0, 0, 0, .025);
}
.card-header {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
}
.slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;
    height: 100%;
}
.slide-sec {
    flex-basis: 80%;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 0px 18px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.sld-right {
    text-align: end;
}
.slide-images {
    position: absolute;
    width: 400%;
    display: flex;
    height: 100%;
    position: relative;
}
.slide-image {
    width: 25%;
    border-radius: 10px;
    transition: all .3s;
    cursor: pointer;
}
.slide-image:hover {
    opacity: .7;
    transition: all .3s;
}
.sld-btn {
    flex-basis: 10%;
    cursor: pointer;
}
.weather-sec {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.weather-infs {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.w-city {
    font-size: 24px;
    font-style: italic;
    opacity: .85;
    color: #642B73;
}
.w-clc {
    font-size: 35px;
    font-style: italic;
    color: #515151;
}
.w-date  {
    opacity: .7;
    color: #515151;
}
.wheather-icons {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}
.w-icon {
    flex-basis: 50%;
    font-size: 20px;
    font-weight: 100;
}

.projcets-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
}
.prj-crd {
    position: relative;
    overflow: hidden;
    flex-basis: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(50, 50, 50,.25);
    /* ! KESİNLİKLE YESİL UYUMLU OLSUN */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.prj-header {
    padding: 10px;
    text-align: center;
    font-weight: 100;
    color: rgb(11, 100, 11);
}
.hkm {
    font-weight: 400;
    font-size: 20px;
}
.prj-image {
    position: absolute;
    width: 70%;
    height: auto;
    z-index: -1;
}
.p1 {
    bottom: -30px;
    left: 0;
    transform: rotate(-30deg);
}
.p2 {
    bottom: -30px;
    right: 0;
    transform: rotate(30deg);
}
.p3 {
    width: 50%;
    bottom: 7px;
    margin: auto;
}
.toleft1-enter-active , .toleft2-enter-active , .toleft3-enter-active{
    animation-name: toleft;
}
.toleft1-enter-active {
    animation-duration: 1s;
}
.toleft2-enter-active {
    animation-duration: 1.5s;
}
.toleft3-enter-active {
    animation-duration: 1.5s;
}
@keyframes toleft {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        transform: translateX(0);
    }
}