img {
    height: auto;
}

.main {
    position: relative;
    display: flex;
    height: 65vh;
    /* TODO: Padding'i */
    padding: 10px 60px;
    flex-wrap: wrap;   /* TODO: RESPONSIVE ICIN */
}

.png {
    position: absolute;
    bottom: -100px;
    left: 450px;
    width: 300px;
    z-index: 0;
}
.png .pngimage {
    width: 100%;
    opacity: .8;
    height: auto;
}
.png {
    animation-name: rlrl;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes rlrl {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
.opcty-enter {
    opacity: 0;
}
.opcty-enter-active {

    transition: all 1s;
}




/* * RESPONSIVE DESIGN * */

@media only screen and (max-width: 1145px) {
    body {
        overflow-y: auto;
    }
    
    .main {
        height: auto;
    }
    .cards {
        height: auto;
    }
    .c3 {
        padding: 20px;
    }
    .infmtons , .additional {
        flex-basis: 100%;
    }
    
    .additional {
        margin-top: 30px;
    }
    .png {
        left: 0;
        opacity: .2;
    }
    .footer {
        margin-top: 50px;
    }
    .cards {
        grid-gap: 60px;
    }
}
@media only screen and (max-width: 900px) {
    .cards {
        grid-template-areas:
        'c1 c1'
        'c2 c2'
        'c3 c3'
        ;
    }
    .c2 , .c1 {
        height: 20vh;
    }
    .slide-image {
        height: 200px;
    }
    .w-icon {
        flex-basis: 20%;
    }
    .foot-cards {
        width: 100%;
        left: 0;
    }
    .foot-inf {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 650px) {
    .header {
        font-size: 46px;
    }
    .comming , .star {
        position: relative;
        bottom: 10px;
    }
    .footer {
        left: 0;
    }
    
}
@media only screen and (max-width: 600px) {
    .projcets-cards {
        flex-direction: column;
    }
    .c3 {
        height: 40vh;
    }
    
    .main {
        padding: 10px 20px;
    }
    .slide-sec {
        flex-basis: 90%;
    }

}
@media only screen and (max-width: 500px) {
    .footer {
        height: 40vh;
    }
    .commings {
        flex-direction: column;
    }
    .cmg-event {
        margin-top: 30px;
    }
    .slide {
        padding: 0px;
    }
    .card {
        padding: 3px;
    }
}
@media only screen and (max-width: 350px) {
    body {
        overflow-x: hidden;
    }
}