.ring1 {
    animation: loading 1s linear infinite;
  }
  .ring2 {
      animation: loading 2s linear infinite;
  }
  .ring3 {
      animation: loading 3s linear infinite;
  }
  @keyframes loading {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }
  .l1 , .l2 , .l3 {
    position: absolute;
    overflow: hidden;
    top: 75%;
    left: 5%;
    width: 300px;
    transform: translate(-50%,-50%);
  }
  .ring1 , .ring2 , .ring3 {
    width: 100%;
  }