.progress-bar {
    width: 65%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.progress-bar__fill {
    display: block;
    height: 100%;
    animation: fill 3s;
}
.progress-bar__fill:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 6rem 6rem;
    animation: loading-fill 3s linear infinite;
}
@keyframes fill {
    0% {
        width: 0;
    }
}

@keyframes loading-fill {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 6rem 6rem;
    }
}
.prj-name {
    font-size: 30px;
    font-weight: 200;
    position: relative;
}
.prj-name::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    margin-top: 10px;
    border-radius: 10px;
}

.prj-4 {
    box-shadow: 0 0 0 1.5px #FF7129, 0 20px 10px -15px rgba(0, 0, 0, 0.15);
}
.fill-4 {
    background-color: #FF7129;
}
.fill-4::after {
    background-image: linear-gradient(-45deg, rgba(47, 47, 43,.5) 25%, transparent 25%, transparent 50%, rgba(47, 47, 43,.5) 50%, rgba(47, 47, 43,.5) 75%, transparent 75%, transparent);
}
.name-4::after {
    background-color: #FF7129;
}

.prj-2 {
    box-shadow: 0 0 0 1.5px #61dbfb, 0 20px 10px -15px rgba(0, 0, 0, 0.15);
}
.fill-2 {
    background-color: rgba(31, 35, 42,.2);
}
.fill-2::after {
    background-image: linear-gradient(-45deg, #61dbfb 25%, transparent 25%, transparent 50%, #61dbfb 50%, #61dbfb 75%, transparent 75%, transparent);
}
.name-2::after {
    background-color: #61dbfb;
}


.prj-1 {
    box-shadow: 0 0 0 1.5px #c32aa3, 0 20px 10px -15px rgba(0, 0, 0, 0.15);
}
.fill-1 {
    background-color: rgba(244, 111, 48,.7);
}
.fill-1::after {
    background-image: linear-gradient(-45deg, #c32aa3 25%, transparent 25%, transparent 50%, #c32aa3 50%, #c32aa3 75%, transparent 75%, transparent);
}
.name-1::after {
    background-color: #f46f30;
}

.prj-3 {
    box-shadow: 0 0 0 1.5px #e52165, 0 20px 10px -15px rgba(0, 0, 0, 0.15);
}
.fill-3 {
    background-color: #e52165;
}
.fill-3::after {
    background-image: linear-gradient(-45deg, rgba(13, 17, 55,.4) 25%, transparent 25%, transparent 50%, rgba(13, 17, 55,.4) 50%, rgba(13, 17, 55,.4) 75%, transparent 75%, transparent);
}
.name-3::after {
    background-color: #e52165;
}

@media only screen and (max-width: 900px) {
    .progress-bar {
        width: 60%;
    }
}
@media only screen and (max-width: 400px) {
    .progress-bar {
        width: 80%;
        height: 15px;
    }
    .prj-name {
        font-size: 20px;
    }
}
@media only screen and (max-width: 245px) {
    .prj-name {
        font-size: 15px;
    }
    .progress-bar {
        width: 80%;
        height: 10px;
    }
}